<md-toolbar class="md-whiteframe-z1" ng-include="'app/components/navbar/navbar.html'"></md-toolbar>

<md-content md-scroll-y flex style="padding: 25px;height:1px;">
  <!-- Introduction first -->
  <p ng-bind-html="view.intro | to_trusted"></p>

  <div ng-repeat="block in view.blocks">

    <!-- Standard style elements -->
    <div ng-include="'app/components/standard/standard.html'"></div>

    <!-- Image with caption-->
    <div id="{{ block.id }}" class="blockimg" layout="row" layout-sm="column" layout-padding style="padding:20px;" ng-if="block.type === 'image'">
      <span flex="40" flex-sm="100"><img class="md-whiteframe-z3" ng-src="{{ block.img }}" alt=""/></span>
      <p flex="60" flex-sm="100" ng-bind-html="block.caption | to_trusted"></p>
    </div>

    <!-- Image only-->
    <span id="{{ block.id }}" ng-if="block.type === 'img'">
      <img class="md-whiteframe-z3 singleimg" style="margin-top:20px;" ng-src="{{ block.img }}" alt="{{ block.imgAlt }}"/>
    </span>

    <!-- Slide Show-->
    <div id="{{ block.id }}" ng-if="block.type === 'slideshow'">
      <div class="galleria">
        <img ng-repeat="image in block.images" src="{{image.src}}" data-title="{{image.title}}" data-description="{{image.description}}">
      </div>
    </div>

    <!-- API Table -->
    <table id="{{ block.id }}" class="md-api-table" ng-if="block.type === 'table'" ng-include="'app/components/apitable/apitable.html'"></table>

  </div>

</md-content>
