<a ng-href="#/"><img src="assets/images/side_logo.png" alt=""/></a>

<md-list flex class="menu" ng-controller="ListCtrl">
  <div class="content">

    <div ng-repeat="item in items">

    <md-subheader class="md-no-sticky md-title">{{ item.header }}</md-subheader>

      <ul ng-cloak class="list-item" ng-repeat="section in item.sections">

        <!--//TODO here we need to add the id from the sections.json to the ui-sref -->
        <li>
          <a ng-class="setHighlight('{{ section.id }}')" ng-href="#/section/{{section.id}}" ng-if="section.type === 'link'" class="md-button list-btn">
            {{ section.name }}
          </a>
        </li>

        <li ng-if="section.type === 'toggle'">
          <ul class="md-button list-btn" ng-click="section.closed = !section.closed">
            {{ section.name }}
            <md-icon class="fold" aria-label="Menu"> keyboard_arrow_down </md-icon>
          </ul>

          <ul class="list-item" ng-hide="section.closed" ng-repeat="child in section.children">
            <li>
              <a ng-class="setHighlight('{{ child.id }}')" class="md-button list-btn" href="#/section/{{ section.id }}/{{ child.id }}">{{ child.name }}</a>
            </li>
          </ul>

        </li>

        <md-divider></md-divider>

      </ul>

    </div>




  </div>
</md-list>
