@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic|Material+Icons);

@font-face {
  font-family: 'fieldlogs';
  src: url('../fonts/fieldlogs.eot?-j294g3');
  src: url('../fonts/fieldlogs.eot?#iefix-j294g3') format('embedded-opentype'),
    url('../fonts/fieldlogs.woff?-j294g3') format('woff'),
    url('../fonts/fieldlogs.ttf?-j294g3') format('truetype'),
    url('../fonts/fieldlogs.svg?-j294g3#fieldlogs') format('svg');
  font-weight: normal;
  font-style: normal;
}

.orange{
  background: rgb(241, 151, 38);
  color: white;
}

.orange-lighter{
  background-color: lighten(rgb(241, 151, 38), 40%);
}

.blue{
  background: RGB(62, 78, 184);
  color: white;
}

.blue-lighter{
  background-color: lighten(rgb(62, 78, 184), 40%);
}

.green{
  background: RGB(137, 197, 64);
  color: black;
}

.green-lighter{
  background-color: lighten(rgb(137, 197, 64), 40%);
}

.grey{
  background: RGB(95, 125, 140);
  color: white;
}

.grey-lighter{
  background-color: lighten(rgb(95, 125, 140), 40%);
}

[class^="fl-"],
[class*=" fl-"] {
  font-family: 'fieldlogs';
  // Better Font Rendering
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

html {
  font-family: 'Roboto', serif;
  position: relative;
  background: black;
}

body{
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.browsehappy {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}

.sidebar-nav{
  background: rgb(224, 138, 29);
  color: #fff;
  width: 256px;
  min-width: 256px;
  max-width: 256px;

  & > *{
    min-width: 256px;
  }

  img{
    width: 100%!important;
  }

  &.api{
    background: RGB(245, 245, 245);
    color: #333;
  }

}

md-toolbar{
  h2{
    margin: 0 0 0 10px;
  }
}

h2{
  border-bottom: 1px solid #f1f1f1;
}

h3{
  font-weight: 400;
}

.top{
  color: blue;
  cursor: hand;
}

.menu{
  overflow: auto;
  .content{
    height:1px;
  }
}

.list-item{
  padding: 0;
  margin: 0;
  opacity: 1;
  outline: none;
  //color: #fff;
  text-decoration: none;

  &.ng-hide {
    transition:0.1s ease-out all;
    opacity: 0;
  }

  .list-btn{
    width: 100%;
    margin: 0;
    padding: 0 16px;
    text-align: left;
    font-weight: bold;

    &:hover{
      background: RGBA(255, 255, 255, 0.2);
    }

    &.active{
      background: RGBA(33, 33, 33, 0.5) !important;
      color: white;
    }

    .list-btn{

      padding: 0;
    }

    .list-item{

      padding: 0;
      .list-btn{

        padding: 0;
        margin: 0;
      }
    }
  }
}

.md-subheader{

  background: rgb(241, 151, 38);
  color: #fff;
  opacity: .9;
  margin: 0;

  &:after{
    right: 0!important;
  }

}

.card{
  img{
    max-width: 100%;
  }
  .designer{
    background: rgb(25, 157, 60);
  }
}

.md-button{

  text-transform: none;

  .fold{

    padding: 4px;

    &.api{
      color:black;
    }
  }
}

md-divider{
  //background: rgb(241, 151, 38);
}

.div-icon{
  height: auto;
}

.blockimg{
  img{
    width: 100%;
  }
}

.indent{
  p{
    padding-left: 30px;
  }
}

.qlinks{
  div{
    a{
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

code{
  background-color: #f3f3f3;
  padding: 8px;
  display: block;
  margin-bottom: 30px;
}

.singleimg{
  text-align: center;
  width: auto;
  max-width: 100%;
  margin-bottom: 30px;
}

.infobox{
  background: rgb(255, 253, 191);
  margin-bottom: 30px;

  md-icon{
    color: rgb(255, 171, 77);
  }
}

.warnbox{
  background: rgb(255, 191, 198);
  margin-bottom: 30px;

  md-icon{
    color: rgb(255, 77, 84);
  }
}

.center{
  margin: 0 auto;
  text-align: center;
  display: block;
}

.galleria{
  max-width: 1300px;
  height: 600px;

  .galleria-theme-classic {
    background:white;
  }

  .galleria-counter {
    color:black;
  }
}

.galleria-thumbnails-container{
  .galleria-thumbnails{
    margin:0 auto;

    .galleria-image{
      background: none;
      border: none;
      color: #4A4A4A;
      text-align: center;
      padding-top: 10px;

      &.active{

      }
    }
  }
}

.md-api-table {
  margin-bottom: 16px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-radius: 2px;
  overflow: hidden;

  td,th{
    padding: 12px 16px;
    text-align: left;
  }

  td{
    vertical-align: top;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.2);

    div{
      p{
        margin: 0;
      }
      code{
        background: none;
        padding: 3px;
        -ms-word-break: break-all;
        word-break: break-all;
      }
    }

  }

  td.description *:first-child{
    margin-top: 0;
  }

  td.description *:last-child{
    margin-bottom: 0;
  }

}


/* FIELDLOGS FONT v1.4 */

.fl-camera:before {
	content: "\e600";
}
.fl-cat_assets:before {
	content: "\e601";
}
.fl-cat_audit:before {
	content: "\e602";
}
.fl-cat_customer:before {
	content: "\e603";
}
.fl-cat_delivery:before {
	content: "\e604";
}
.fl-cat_evidence:before {
	content: "\e605";
}
.fl-cat_explore:before {
	content: "\e606";
}
.fl-cat_hazard:before {
	content: "\e607";
}
.fl-cat_hse:before {
	content: "\e608";
}
.fl-cat_installation:before {
	content: "\e609";
}
.fl-cat_internal:before {
	content: "\e60a";
}
.fl-cat_itinerary:before {
	content: "\e60b";
}
.fl-cat_main:before {
	content: "\e60c";
}
.fl-cat_measure:before {
	content: "\e60d";
}
.fl-cat_planning:before {
	content: "\e60e";
}
.fl-cat_progress:before {
	content: "\e60f";
}
.fl-cat_recon:before {
	content: "\e610";
}
.fl-cat_remote:before {
	content: "\e611";
}
.fl-cat_repair:before {
	content: "\e612";
}
.fl-cat_rig:before {
	content: "\e613";
}
.fl-cat_road:before {
	content: "\e614";
}
.fl-cat_survey:before {
	content: "\e615";
}
.fl-cat_trai:before {
	content: "\e616";
}
.fl-clip:before {
	content: "\e617";
}
.fl-comment:before {
	content: "\e618";
}
.fl-cover_job:before {
	content: "\e619";
}
.fl-cover_task:before {
	content: "\e61a";
}
.fl-cover_temp:before {
	content: "\e61b";
}
.fl-mic:before {
	content: "\e61c";
}
.fl-side_hidden:before {
	content: "\e61d";
}
.fl-side_open:before {
	content: "\e61e";
}
.fl-video:before {
	content: "\e61f";
}
.fl-w_cloud:before {
	content: "\e620";
}
.fl-w_night:before {
	content: "\e621";
}
.fl-w_rain:before {
	content: "\e622";
}
.fl-w_snow:before {
	content: "\e623";
}
.fl-w_sun:before {
	content: "\e624";
}
.fl-w_wind:before {
	content: "\e625";
}
.fl-wf_boolean:before {
	content: "\e626";
}
.fl-wf_branch:before {
	content: "\e627";
}
.fl-wf_check:before {
	content: "\e628";
}
.fl-wf_choice:before {
	content: "\e629";
}
.fl-wf_draw:before {
	content: "\e62a";
}
.fl-wf_end:before {
	content: "\e62b";
}
.fl-wf_form:before {
	content: "\e62c";
}
.fl-wf_free:before {
	content: "\e62d";
}
.fl-wf_goto:before {
	content: "\e62e";
}
.fl-wf_label:before {
	content: "\e62f";
}
.fl-wf_loop:before {
	content: "\e630";
}
.fl-wf_media:before {
	content: "\e631";
}
.fl-wf_multi:before {
	content: "\e632";
}
.fl-wf_num:before {
	content: "\e633";
}
.fl-wf_sig:before {
	content: "\e634";
}
.fl-wf_step:before {
	content: "\e635";
}
.fl-wf_table:before {
	content: "\e636";
}
.fl-wf_time:before {
	content: "\e637";
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
